<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../_share/metadata.ejs') %> 
  <title><%= title %></title>
  <%- include('../_share/stylesheets.ejs') %>
</head>
<body>
  <%- include('../_share/navbar.ejs') %>
  
  <h1 class="display-4">
    <%= title %>
  </h1>

  <div role="main">
    <table class="table">
      <% for (var i in content) { %>
        <tr>
          <% var obj = content[i] %>
          <th><%= obj.detail_id %></th>
          <td><%= obj.detail_id %></td>
        </tr>
      <% } %> 
    </table>
  </div>

  <%- include('../_share/footer.ejs') %>
  <%- include('../_share/javascript.ejs') %>
</body>
</html>